:root {
  --color-purple: #743DFA;
  --color-white: #FFF;
  --color-darkblue: #130633;
  --color-dark: #000;
  --color-gray: #333;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.button {
  padding: 0.8rem 4rem;
  border: 3px solid var(--color-purple);
  color: var(--color-purple);
  font-family: 'Work Sans', sans-serif;
  transition: 0.5s;
  font-size: 1.3rem;
  background-color: transparent;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-purple);
}

@media (max-width: 1400px) {
  .container {
    max-width: 960px;
    width: 100%;
  }
}