@import url('../styles/styles.global.module.css');

.navbar {
  height: 100px;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  max-width: 1200px;
  width: 100%;
}

.headerArea {
  width: 100%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  height: 70px;
}

.logo {
  height: 100%;
}

.rightSide {
  display: flex;
  align-items: center;
}


.button {
  padding: 10px;
  font-size: 16px;
}

@media (max-width: 1400px) {
  .leftSide, .rightSide {
    margin: 0 2rem;
  }
}

@media (max-width:380px) {
  .headerArea {
    justify-content: center;
  }

  .rightSide {
    display: none;
  }
}