:root {
  --color-purple: #743DFA;
  --color-white: #FFF;
  --color-darkblue: #130633;
}

.navbar {
  height: 100px;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  max-width: 1200px;
  width: 100%;
}

.headerArea {
  width: 100%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  height: 70px;
}

.logo {
  height: 100%;
}

.rightSide {
  display: flex;
  align-items: center;
}


.button {
  padding: 10px;
  border: 3px solid var(--color-purple);
  color: var(--color-purple);
  font-family: 'Work Sans', sans-serif;
  transition: 0.5s;
  font-size: 16px;
  background-color: transparent;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-purple);
}

@media (max-width: 1400px) {
  .container {
    max-width: 960px;
    width: 100%;
  }
  .leftSide, .rightSide {
    margin: 0 2rem;
  }
}

@media (max-width:380px) {
  .headerArea {
    justify-content: center;
  }

  .rightSide {
    display: none;
  }
}