@import url('../../components/styles/styles.global.module.css');


.notFound {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logoArea {
  height: 100px;
  padding-top: 3em;
  display: flex;
  justify-content: center;
}

.logoArea img {
  height: 100%;
}

.backArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 0;
}

.backArea p {
  font-size: 1.5rem;
  color: rgba(10, 10, 10, 0.9);
  margin: 0 0 3rem 0;
}

.minionArea img {
  height: 100%;
}

.warnArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 1060px) {
  .backArea {
    flex-direction: column;
    margin-top: 5rem;
  }

  .minionArea img{
    display: none;
  }

  .warnArea {
    padding: 0 1.5rem;
    margin-bottom: 3rem;
  }
}